@font-face {
  font-family: "Spoqa Han Sans";
  src: url("fonts/SpoqaHanSans/SpoqaHanSansThin.woff") format("woff"), url("fonts/SpoqaHanSans/SpoqaHanSansThin.woff2") format("woff2"), url("fonts/SpoqaHanSans/SpoqaHanSansThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Spoqa Han Sans";
  src: url("fonts/SpoqaHanSans/SpoqaHanSansLight.woff") format("woff"), url("fonts/SpoqaHanSans/SpoqaHanSansLight.woff2") format("woff2"), url("fonts/SpoqaHanSans/SpoqaHanSansLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Spoqa Han Sans";
  src: url("fonts/SpoqaHanSans/SpoqaHanSansRegular.woff") format("woff"), url("fonts/SpoqaHanSans/SpoqaHanSansRegular.woff2") format("woff2"), url("fonts/SpoqaHanSans/SpoqaHanSansRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Spoqa Han Sans";
  src: url("fonts/SpoqaHanSans/SpoqaHanSansMedium.woff") format("woff"), url("fonts/SpoqaHanSans/SpoqaHanSansMedium.woff2") format("woff2"), url("fonts/SpoqaHanSans/SpoqaHanSansMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Spoqa Han Sans";
  src: url("fonts/SpoqaHanSans/SpoqaHanSansBold.woff") format("woff"), url("fonts/SpoqaHanSans/SpoqaHanSansBold.woff2") format("woff2"), url("fonts/SpoqaHanSans/SpoqaHanSansBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}