$pramary-font-face: 'Spoqa Han Sans', Sans-serif;
$pramary-font-color: #101010;
$pramary-font-size: 14px;
$pramary-font-weight: 400;
$pramary-theme-color: #242390;
$pramary-bg-color: #fff;
$screen-mobile: 720px;
$screen-tablet: 1024px;