.quantity {
    height: 36px;
    @include flexLayout(row, flex-start, center);
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    button {
        width: 34px;
        height: 34px;
        background-color: #fff;
        border: none;
        font-weight: 700;
        color: #505050;
    }
    input {
        width: 52px;
        height: 34px;
        text-align: center;
        border: none;
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        font-weight: 500;
    }
}