select {
    &.select {
        width: 100%;
        height: 36px;
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        padding: 0 40px 0 12px;
        transition: all .4s;
        appearance: none;
        background: #fff url('/images/icon/icon_select_arrow.svg') no-repeat calc(100% - 12px) center;
        &:focus {
            border-color: $pramary-theme-color;
        }
    }
}